<head>
  <title>Kitsu-Planning</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  {% load static %}
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="{% static './css/uikit.min.css' %}" />
  <link rel="stylesheet" href="{% static './css/style.css' %}" />
  <script src="{% static './js/jquery.min.js' %}"></script>
  <!-- UIkit JS -->
  <script src="{% static './js/uikit.min.js' %}"></script>
  <script src="{% static './js/uikit-icons.min.js' %}"></script>
</head>
<header class="uk-navbar-container uk-margin" uk-navbar uk-sticky="top: 200; bottom: #animation; animation: uk-animation-slide-top; show-on-up: true">
  <div id="pc">
    <div class="uk-navbar-left">
      <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #smartphone; animation: uk-animation-fade" disabled></a>
      <a class="uk-navbar-item uk-logo" href="./">Kitsu-Planning</a>
    </div>
    <div class="uk-navbar-right">

      <div class="uk-navbar-item pc">
        <form action="{% url 'calendrier:calendrier' %}" method="get" class="uk-search uk-search-default">
          <span uk-search-icon></span>
            <input name="username" class="uk-search-input" type="search" placeholder="Enter your username to track your planning">
        </form>
      </div>
      <a class="uk-navbar-item pc" uk-toggle="target: #settings"><span class="uk-margin-small-right" uk-icon="icon: cog; ratio: 2"></span></a>
      <a href="https://github.com/Gakamine/KitsuTracker"><span class="uk-margin-small-right" uk-icon="icon: github; ratio: 2"></span></a>
      <a href="https://twitter.com/Gakamine71"><span class="uk-margin-small-right" uk-icon="icon: twitter; ratio: 2"></span></a>
    </div>
  </div>
  <div id="smartphone" class="smartphone" hidden>
    <div id="scroll-nav" class="nav-smartphone">
      <span class="uk-icon uk-margin-small-right smartphone" uk-icon="icon: chevron-right; ratio: 2;"></span>
      <a uk-toggle="target: #settings"><span class="uk-margin-small-right" uk-icon="icon: cog; ratio: 2"></span></a>
      <ul class="uk-navbar-nav smartphone">
        <li>
          <form action="{% url 'calendrier:calendrier' %}" method="get" class="uk-search uk-search-default">
            <span uk-search-icon></span>
              <input name="username" class="uk-search-input" type="search" placeholder="Enter your username to track your planning"></input>
          </form>
        </li>
      </ul>
      <span class="uk-icon uk-margin-small-left smartphone" uk-icon="icon: chevron-left; ratio: 2;"></span>
    </div>
  </div>
</header>
<div id="content" style="text-align:center;">
  <img src="{% static './img/404.gif' %}">
  <h1>Oops, you shouldn't be here, it's an unknown place.</h1>
</div>
<div id="settings" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Settings</h2>
        <form method="POST" action="./" class="uk-form-stacked">
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-select">First day of the week</label>
                <div class="uk-form-controls">
                    <select class="uk-select" id="start_week">
                        <option>Monday</option>
                        <option>Sunday</option>
                    </select>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-select">Titles</label>
                <div class="uk-form-controls">
                    <select class="uk-select" id="start_week">
                        <option>JP</option>
                        <option>EN</option>
                    </select>
                </div>
            </div>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <input class="uk-button uk-button-primary" value="Save" type="submit">
        </p>
        </form>
    </div>
</div>
